.modelHeader {
  background: #5058b9;
  color: #fff;
  button {
    color: #fff;
  }
}
.modelBody {
  hr {
    margin: 15px 0;
  }   
}
.addHoliday {
  label {
	padding-bottom: 0;
	line-height: 20px;
  }
}