@import "../../theme/variables.scss";

.myleaves {
  dd {
    margin-bottom: 15px;
  }
}

.myleavesForm {
	label {
		margin-bottom: 0;
		line-height: 16px;
	}
}


.employeesOptions {

	div {
		line-height: 30px;
		border-radius: 0;
	}
}