.modelHeader {
  background: #5058b9;
  color: #fff;
  button {
    color: #fff;
  }
}
.modelBody {
  hr {
    margin: 15px 0;
  }   
}
.subtext {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.commentText p {
    margin:0;
}