@import "../../theme/variables.scss";

.itRequests {
  padding-top: 0;
  
  dd {
    margin-bottom: 15px;
  }
}

.allItRequests {
  :global(.tab-content) {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top: 15px;

    table {
      background-color: #fff;
      border: 1px solid #ddd;
      margin-bottom: 0;
      thead {
        th {
          background-color: #eee;
        }
      }
    }  
  }  
}