@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
  label { 
    padding-bottom: 0px;
    padding-top: 5px;
    line-height: 1rem;
  }
  .leftLidebar {
  	max-height: 80vh;
  	overflow-y: auto;
  	tbody tr:hover td {
  		background-color: #5058b9;
        cursor: pointer;
        color: #fff;
  	}
  }
  .list_absent {
    background-color: #ffd6d6;
  }
  .list_late {
    background-color: #fff8c3;
  }
}

.attendanceView {
  :global(.topFilters) {
    margin-bottom: 15px;
  }
}

